.cart-page {
    padding: 100px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 80%;
    max-width: 600px;
}

.cart-item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-info {
    flex-grow: 1;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: darkred;
}

.cart-summary {
    margin-top: 30px;
}

.checkout-button {
    background-color: rgb(55, 84, 147);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: rgb(29, 51, 86);
}


.cart-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

.cart-items-container {
    flex-grow: 1;
    overflow-y: auto;
    margin: 1rem 0;
    border-radius: 8px;
    padding: 1rem;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




.cart-summary {
    position: sticky;
    bottom: 0;
    padding: 1rem;

}