.orders-container {
    padding: 20px;
    text-align: center;
}

.orders-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
}

.order-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.order-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
}

.order-details {
    flex-grow: 1;
    text-align: left;
}

.order-details h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.order-details p {
    margin: 5px 0;
    color: #555;
}

.order-details p strong {
    color: #000;
}

.order-item:hover {
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.orders-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}